.Container {
	box-shadow: 0 4px 6px -2px grey;
	padding: 20px;
	margin-bottom: 30px;
	border-top: 1px lightgrey solid;
}

label {
	margin-right: 5px;
}

input,
select {
	outline: none;
	border: 1px solid #ccc;
	background-color: white;
	font: inherit;
	padding: 6px 10px;
	display: inline-block;
	box-sizing: border-box;
	margin-right: 20px;
}

.Button {
	background-color: #1074e7;
	border: solid 1px #1074e7;
	color: white;
	cursor: pointer;
	font: inherit;
	padding: 13px;
	margin: 10px 0;
	box-shadow: 0 4px 6px -3px grey;
	min-width: 20%;
	border-radius: 3px;
	box-sizing: border-box;
}

.Button:hover,
.Button:active {
	background-color: #0366d6;
}

@media (max-width: 500px) {
	.Button,
	input,
	select {
		width: 95%;
		padding: 15px;
		margin-top: 15px;
	}
}
