.App {
	width: 65%;
	box-shadow: 0 4px 6px -2px grey;
	margin: auto;
	padding: 20px;
	min-height: 95vh;
}

.App > h2,
p {
	margin-left: 20px;
}

@media (max-width: 500px) {
	.App {
		width: 90%;
		min-height: 85vh;
		padding: 20px;
		box-shadow: none;
	}

	p,
	label,
	input,
	select {
		font-size: 1.1rem;
		margin-bottom: 15px;
	}

	p,
	label {
		margin-bottom: 3px;
	}

	button {
		font-size: 1.2rem !important;
	}
}

@media (min-width: 501px) and (max-width: 1024px) {
	.App {
		width: 90%;
	}
}
