.App {
	width: 60%;
	box-shadow: 0 4px 6px -2px grey;
	margin: auto;
	padding: 30px;
	min-height: 95vh;
}

.App > h2,
p {
	margin-left: 20px;
}

@media (max-width: 500px) {
	.App {
		width: 100%;
	}
}

@media (min-width: 501px) and (max-width: 1100px) {
	.App {
		width: 90%;
	}
}
