.Container {
	display: flex;
	flex-direction: column;
}

.DisplayLayout {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 15px;
}

@media (max-width: 500px) {
	.Container {
		align-items: center;
	}

	.DisplayLayout {
		width: 90%;
		padding: 0;
	}
}
