.Container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.DisplayLayout {
	width: 95%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 30px;
}

@media (max-width: 500px) {
	.DisplayLayout {
		padding: 0 10px;
	}
}
